---
title: Aeolus Project - Oz
area: projects
extension: html
filter:
  - haml
---
%h1 Oz

%p Oz is a tool for automatically installing guest OSs with only minimal up-front input from the user.

%h3 Supported Guests
%table.team-table#ozguests
  %thead
    %tr
      %td.emptycell &nbsp;
      %td
        Install
      %td
        Customize
      %td
        Generate ICICLE (package manifest)
  %tbody
    - ozguests.each do |guest|
      %tr
        %td.guest
          = guest[:name]
        = support_indicator(guest[:install])
        = support_indicator(guest[:customize])
        = support_indicator(guest[:icicle])

%h3 Additional Information
%ul
  - oz_pages.each do |doc|
    - if doc[:description]
      %li
        %a{ :href => doc[:href] }
          = doc[:description]
